#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  min-height: 300px;
}

.buttons_wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 30px;
}

.buttons_wrapper button svg {
  width: 2rem;
  height: 2rem;
}
